Repository RitzBitz2323/COMS309Proj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, maven-test, auto_deploy, android-build, android-test

maven-build:
  stage: mavenbuild
  tags:
  - BACKEND
  script:
  - cd Backend/CyHelp
  - mvn package -B

maven-test:
  stage: maventest
  tags:
  - BACKEND
  script:
  - cd Backend/CyHelp
  - mvn test
  - mvn package -B
  artifacts:
    paths:
    - Backend/CyHelp/target/*.jar

auto_deploy:
  stage: mavendeploy
  tags:
  - BACKEND
  script:
  - cd Backend/CyHelp
  - mvn package
  - sudo mv target/*.jar /target/web-demo.jar
  - sudo systemctl stop system-web-demo
  - sudo systemctl start system-web-demo

android-build:
  image: javiersantos/android-ci:latest
  stage: androidbuild
  before_script:
  - export GRADLE_USER_HOME='pwd'/.gradle
  - chmod +x ./Frontend/gradlew
  tags:
  - FRONTEND
  script:
  - cd Frontend
  - ./gradlew assemble --stacktrace
  artifacts:
    paths:
    - Android_test/app/build/outputs/

android-test:
  image: javiersantos/android-ci:latest
  stage: androidtest
  before_script:
  - export GRADLE_USER_HOME='pwd'/.gradle
  - chmod +x ./Frontend/gradlew
  tags:
  - FRONTEND
  script:
  - cd Frontend
  - ./gradlew test

Fixed tests
  Frontend/app/src/main/java/com/example/cyhelp/SignUpPresenter.java
  Frontend/app/src/test/java/com/example/cyhelp/SignUpModelTest.java
  Frontend/app/src/test/java/com/example/cyhelp/SignUpPresenterTest.java
Due: android-build, android-test

Added 4 mock tests for SignUpPresenter
  Frontend/app/src/test/java/com/example/cyhelp/SignUpPresenterTest.java
Due: android-build, android-test

Changed from h2 to mysql
  Backend/CyHelp/src/main/java/coms309/cyhelp/controller/TicketController.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/Ticket.java
  Backend/CyHelp/src/main/resources/application.properties
Due: maven-build, maven-test, auto_deploy

removed ApplicationTests to fix the MySQL database
  Backend/CyHelp/src/test/java/coms309/cyhelp/tests/CyHelpApplicationTests.java
Due: maven-build, maven-test, auto_deploy

Added MySQL dependency
  Backend/CyHelp/pom.xml
  Backend/CyHelp/src/main/resources/application.properties
Due: maven-build, maven-test, auto_deploy

Added creditals of the user root in application.properties
  Backend/CyHelp/src/main/resources/application.properties
Due: maven-build, maven-test, auto_deploy

Reverted back to h2, mysql doesn't work
  Backend/CyHelp/pom.xml
  Backend/CyHelp/src/main/resources/application.properties
Due: maven-build, maven-test, auto_deploy

mysql try number 2
  Backend/CyHelp/src/main/java/coms309/cyhelp/CyHelpApplication.java
  Backend/CyHelp/src/main/resources/application.properties
Due: maven-build, maven-test, auto_deploy

change user password
  Backend/CyHelp/src/main/resources/application.properties
Due: maven-build, maven-test, auto_deploy

Reverted back to h2 version 2.0.0.13
  Backend/CyHelp/src/main/resources/application.properties
Due: maven-build, maven-test, auto_deploy

MySQL try 3
  Backend/CyHelp/src/main/resources/application.properties
  Frontend/.idea/deploymentTargetDropDown.xml
Due: maven-build, maven-test, auto_deploy, android-build, android-test

MySQL try 3.1
  Backend/CyHelp/src/main/resources/application.properties
Due: maven-build, maven-test, auto_deploy

MySQL try 3.2
  Backend/CyHelp/src/main/resources/application.properties
Due: maven-build, maven-test, auto_deploy

Fixed the mysql properties and got it to work.
  Backend/CyHelp/pom.xml
  Backend/CyHelp/src/main/resources/application.properties
Due: maven-build, maven-test, auto_deploy

Added JavaDoc comments
  Frontend/app/src/main/java/com/example/cyhelp/CreateNewTicketActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/LoginActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/SignUpActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/SignUpModel.java
  Frontend/app/src/main/java/com/example/cyhelp/SignUpPresenter.java
  Frontend/app/src/main/java/com/example/cyhelp/ViewTechTicketActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/ViewUserTicketActivity.java
  Frontend/app/src/main/res/values-night/themes.xml
Due: android-build, android-test

added Swagger API documentation
  Backend/CyHelp/pom.xml
  Backend/CyHelp/src/main/java/coms309/cyhelp/CyHelpApplication.java
  Backend/CyHelp/src/main/resources/application.properties
Due: maven-build, maven-test, auto_deploy

Added javadocs
  Frontend/app/src/main/java/com/example/cyhelp/Actor.java
  Frontend/app/src/main/java/com/example/cyhelp/AdminActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/CompanyActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/CreateNewTicketActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/LoginActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/MainActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/SignUpActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/SignUpModel.java
  Frontend/app/src/main/java/com/example/cyhelp/SignUpPresenter.java
  Frontend/app/src/main/java/com/example/cyhelp/TechActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/ViewTechTicketActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/ViewTicketsActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/ViewUserTicketActivity.java
  Frontend/app/src/test/java/com/example/cyhelp/SignUpModelTest.java
Due: android-build, android-test

Created API for swagger
  Backend/CyHelp/src/main/java/coms309/cyhelp/controller/CategoryController.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/controller/TagsController.java
Due: maven-build, maven-test, auto_deploy

More comments
  Frontend/.idea/misc.xml
  Frontend/app/build.gradle
  Frontend/app/src/main/java/com/example/cyhelp/ViewTechTicketActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/ViewTicketsActivity.java
Due: android-build, android-test

Added the api documentation to actor and ticket models and controllers
  Backend/CyHelp/src/main/java/coms309/cyhelp/controller/ActorController.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/controller/TicketController.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/Actor.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/Ticket.java
Due: maven-build, maven-test, auto_deploy

Creaated Swagger for models
  Backend/CyHelp/src/main/java/coms309/cyhelp/controller/CategoryController.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/controller/TagsController.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/Category.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/Tags.java
Due: maven-build, maven-test, auto_deploy

documents/java docs
  Backend/CyHelp/src/main/java/coms309/cyhelp/controller/CategoryController.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/controller/TagsController.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/Category.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/Tags.java
Due: maven-build, maven-test, auto_deploy

documents
  Backend/.DS_Store
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/Category.java
Due: maven-build, maven-test, auto_deploy

Fixed Java version for CI/CD
  Frontend/app/build.gradle
Due: android-build, android-test

Put DesignDoc.pdf in Documents
  Documents/CyHelp - DesignDoc.pdf
Due: none

Created and implemented services for all of the controllers.
  Backend/CyHelp/src/main/java/coms309/cyhelp/CyHelpApplication.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/controller/ActorController.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/controller/CategoryController.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/controller/TagsController.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/controller/TicketController.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/repository/ActorRepository.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/repository/CategoryRepository.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/service/ActorService.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/service/CategoryService.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/service/TagsService.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/service/TicketService.java
Due: maven-build, maven-test, auto_deploy

Restarted the MySQL database to fix the repeated categories issue
  Backend/CyHelp/pom.xml
  Backend/CyHelp/src/main/java/coms309/cyhelp/controller/TagsController.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/Tags.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/repository/ActorRepository.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/repository/CategoryRepository.java
  Backend/CyHelp/src/main/resources/application.properties
Due: maven-build, maven-test, auto_deploy

restarted mysql database to fix repeated categories issue
  Backend/CyHelp/src/main/resources/application.properties
Due: maven-build, maven-test, auto_deploy

Initialized the ChatSocket and Config
  Backend/CyHelp/src/main/java/coms309/cyhelp/chat/ChatSocket.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/chat/ChatSocketConfig.java
Due: maven-build, maven-test, auto_deploy

Fixed ListView for ViewTickets
  Frontend/app/src/main/res/layout/activity_view_tickets.xml
Due: android-build, android-test

Added ChatMessage relations and implement the ChatSocket, but nothing works.
  Backend/CyHelp/src/main/java/coms309/cyhelp/chat/ChatSocket.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/ChatMessage.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/Ticket.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/repository/ChatMessageRepository.java
Due: maven-build, maven-test, auto_deploy

Created model, repository and service. Initialized Controller for rating
  Backend/CyHelp/src/main/java/coms309/cyhelp/controller/RatingController.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/Rating.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/repository/RatingRepository.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/service/RatingService.java
Due: maven-build, maven-test, auto_deploy

Fixed bugs in View User Ticket
  Frontend/app/src/main/java/com/example/cyhelp/CreateNewTicketActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/ViewUserTicketActivity.java
  Frontend/app/src/main/res/layout/activity_view_tickets.xml
Due: android-build, android-test

The chat system now runs and restarted the mysql database
  Backend/CyHelp/src/main/java/coms309/cyhelp/CyHelpApplication.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/chat/ChatSocket.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/ChatMessage.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/Ticket.java
  Backend/CyHelp/src/main/resources/application.properties
Due: maven-build, maven-test, auto_deploy

Created Tech Category Filter
  Frontend/.idea/misc.xml
  Frontend/app/src/main/AndroidManifest.xml
  Frontend/app/src/main/java/com/example/cyhelp/TechActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/TechFilterActivity.java
  Frontend/app/src/main/res/layout/activity_tech_filter.xml
Due: android-build, android-test

Finish Tech Filter
  Frontend/app/src/main/java/com/example/cyhelp/TechActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/TechFilterActivity.java
Due: android-build, android-test

Connected Tech Category Filter to Log In and Sign Up
  Frontend/app/src/main/java/com/example/cyhelp/LoginActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/SignUpActivity.java
Due: android-build, android-test

Add more features to Actor class and started to implement base of chat feature
  Frontend/.idea/deploymentTargetDropDown.xml
  Frontend/.idea/misc.xml
  Frontend/app/build.gradle
  Frontend/app/libs/java_websocket.jar
  Frontend/app/src/main/AndroidManifest.xml
  Frontend/app/src/main/java/com/example/cyhelp/Actor.java
  Frontend/app/src/main/java/com/example/cyhelp/User_Chat_Activity.java
  Frontend/app/src/main/java/com/example/cyhelp/ViewUserTicketActivity.java
  Frontend/app/src/main/res/layout/activity_user_chat.xml
  Frontend/app/src/main/res/layout/activity_view_user_ticket.xml
Due: android-build, android-test

Path conditions:
  maven-build: any of: Backend/**/*
  maven-test: any of: Backend/**/*
  auto_deploy: any of: Backend/**/*
  android-build: any of: Frontend/**/*
  android-test: any of: Frontend/**/*
