Repository RitzBitz2323/COMS309Proj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, maven-test, auto_deploy, android-build, android-test

.gitlab-ci.yml:

# Example  .gitlab-ci.yml file
stages:
  - mavenbuild
  - maventest
  - mavendeploy
  - androidbuild
  - androidtest

maven-build:   #this is a JOB
  stage: mavenbuild
  only:
    refs: 
      - main
    changes: 
      - Backend/**/*
  tags:
    - BACKEND  # this is LINK to the shell runner on the remote-server 
  script:
    - cd Backend/CyHelp
    - mvn package -B

maven-test:
  stage: maventest
  only:
    refs: 
      - main
    changes: 
      - Backend/**/*
  tags:
    - BACKEND
  script:
    - cd Backend/CyHelp
    - mvn test
    - mvn package -B
  artifacts:
    paths:
      - Backend/CyHelp/target/*.jar

auto_deploy:
  stage: mavendeploy  #do make a stage with same name!
  only:
    refs: 
      - main
    changes: 
      - Backend/**/*
  tags:
   - BACKEND
  script:
    - cd Backend/CyHelp
    - mvn package
    - sudo mv target/*.jar /target/web-demo.jar 
    - sudo systemctl stop system-web-demo
    - sudo systemctl start system-web-demo

android-build:
  image: javiersantos/android-ci:latest
  stage: androidbuild
  only:
    refs: 
      - main
    changes: 
      - Frontend/**/*
  before_script:
    - export GRADLE_USER_HOME='pwd'/.gradle
    - chmod +x ./Frontend/gradlew
  tags:
    - FRONTEND
  script:
    - cd Frontend
    - ./gradlew assemble --stacktrace
  artifacts:
      paths:
           - Android_test/app/build/outputs/

android-test:
  image: javiersantos/android-ci:latest
  stage: androidtest
  only:
    refs: 
      - main
    changes: 
      - Frontend/**/*
  before_script:
    - export GRADLE_USER_HOME='pwd'/.gradle
    - chmod +x ./Frontend/gradlew
  tags:
   - FRONTEND
  script:
    - cd Frontend
    - ./gradlew test

category/tags many to many relationship created
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/Category.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/Tags.java
Due: maven-build, maven-test, auto_deploy

Finished Tags DB. Submitting for merge request next
  Backend/CyHelp/src/main/java/coms309/cyhelp/controller/TagsController.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/Tags.java
Due: maven-build, maven-test, auto_deploy

edited something
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/Tags.java
Due: maven-build, maven-test, auto_deploy

Getters and Setters for manytomany
  Backend/CyHelp/src/main/java/coms309/cyhelp/controller/TagsController.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/Category.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/Tags.java
Due: maven-build, maven-test, auto_deploy

Added comments to explain code better
  Frontend/app/src/main/java/com/example/cyhelp/TechActivity.java
Due: android-build, android-test

changed the ticket/accept method to return json objects
  Backend/CyHelp/src/main/java/coms309/cyhelp/controller/ActorController.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/controller/TicketController.java
Due: maven-build, maven-test, auto_deploy

Added mockito tests for TicketRepository and the Actor Model
  Backend/CyHelp/src/main/java/coms309/cyhelp/controller/TicketController.java
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/Actor.java
  Backend/CyHelp/src/test/java/coms309/cyhelp/tests/CyHelpApplicationTests.java
  Backend/CyHelp/src/test/java/coms309/cyhelp/tests/TestActorModel.java
  Backend/CyHelp/src/test/java/coms309/cyhelp/tests/TestTicketRepository.java
Due: maven-build, maven-test, auto_deploy

Fix the double mapping error
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/Tags.java
Due: maven-build, maven-test, auto_deploy

Tapping on Icon now loads View Ticket
  Frontend/.idea/misc.xml
  Frontend/app/src/main/AndroidManifest.xml
  Frontend/app/src/main/java/com/example/cyhelp/TechActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/ViewTechTicketActivity.java
  Frontend/app/src/main/res/layout/activity_view_tech_ticket.xml
  Frontend/app/src/main/res/navigation/nav_graph2.xml
  Frontend/app/src/main/res/values/strings.xml
Due: android-build, android-test

Added username verification and rewrote in MVP design. Further bug fixes required.
  Frontend/.idea/deploymentTargetDropDown.xml
  Frontend/.idea/misc.xml
  Frontend/app/src/main/java/com/example/cyhelp/SignUpActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/SignUpModel.java
  Frontend/app/src/main/java/com/example/cyhelp/SignUpPresenter.java
  Frontend/app/src/main/res/layout/activity_login.xml
  Frontend/app/src/main/res/layout/activity_main.xml
  Frontend/app/src/main/res/layout/activity_sign_up.xml
  Frontend/app/src/main/res/layout/spinner_item_sign_up.xml
  Frontend/app/src/main/res/values/colors.xml
  Frontend/app/src/main/res/values/themes.xml
Due: android-build, android-test

Now Tech can View Ticket Details
  Frontend/app/src/main/java/com/example/cyhelp/ViewTechTicketActivity.java
  Frontend/app/src/main/res/layout/activity_view_tech_ticket.xml
Due: android-build, android-test

fixed sign up bug
  Frontend/.idea/misc.xml
  Frontend/app/src/main/java/com/example/cyhelp/SignUpActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/SignUpModel.java
  Frontend/app/src/main/java/com/example/cyhelp/SignUpPresenter.java
  Frontend/app/src/main/res/layout/activity_admin.xml
  Frontend/app/src/main/res/layout/activity_company.xml
Due: android-build, android-test

Now Tech can accept ticket
  Frontend/app/src/main/java/com/example/cyhelp/TechActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/ViewTechTicketActivity.java
  Frontend/app/src/main/res/layout/activity_view_tech_ticket.xml
Due: android-build, android-test

Created mockito tests and added getTicket to Category Model
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/Category.java
  Backend/CyHelp/src/test/java/coms309/cyhelp/tests/TestCategoryRepository.java
  Backend/CyHelp/src/test/java/coms309/cyhelp/tests/TestTagsModel.java
Due: maven-build, maven-test, auto_deploy

Reinit repo and created setlowercase
  Backend/CyHelp/bin/src/main/java/coms309/cyhelp/controller/ActorController.class
  Backend/CyHelp/bin/src/main/java/coms309/cyhelp/controller/CategoryController.class
  Backend/CyHelp/bin/src/main/java/coms309/cyhelp/controller/TagsController.class
  Backend/CyHelp/bin/src/main/java/coms309/cyhelp/controller/TicketController.class
  Backend/CyHelp/bin/src/main/java/coms309/cyhelp/model/Actor.class
  Backend/CyHelp/bin/src/main/java/coms309/cyhelp/model/Category.class
  Backend/CyHelp/bin/src/main/java/coms309/cyhelp/model/Tags.class
  Backend/CyHelp/bin/src/main/java/coms309/cyhelp/repository/TagsRepository.class
  Backend/CyHelp/bin/src/test/java/coms309/cyhelp/test/CyHelpApplicationTests.class
  Backend/CyHelp/bin/src/test/java/coms309/cyhelp/tests/CyHelpApplicationTests.class
  Backend/CyHelp/bin/src/test/java/coms309/cyhelp/tests/TestActorModel.class
  Backend/CyHelp/bin/src/test/java/coms309/cyhelp/tests/TestCategoryRepository.class
  Backend/CyHelp/bin/src/test/java/coms309/cyhelp/tests/TestTagsModel.class
  Backend/CyHelp/bin/src/test/java/coms309/cyhelp/tests/TestTicketRepository.class
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/Category.java
Due: maven-build, maven-test, auto_deploy

fixed test
  Backend/CyHelp/src/test/java/coms309/cyhelp/tests/TestTagsModel.java
Due: maven-build, maven-test, auto_deploy

fixing tests
  Backend/CyHelp/src/test/java/coms309/cyhelp/tests/TestCategoryRepository.java
Due: maven-build, maven-test, auto_deploy

test tickets more created
  Backend/CyHelp/src/test/java/coms309/cyhelp/tests/TestCategoryRepository.java
Due: maven-build, maven-test, auto_deploy

Now Users are notified when Tech has accepted ticket
  Frontend/app/src/main/java/com/example/cyhelp/TechActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/ViewTicketsActivity.java
  Frontend/app/src/main/res/layout/activity_view_tickets.xml
Due: android-build, android-test

category id change
  Backend/CyHelp/src/test/java/coms309/cyhelp/tests/TestCategoryRepository.java
Due: maven-build, maven-test, auto_deploy

maybe fixed error
  Backend/CyHelp/src/test/java/coms309/cyhelp/tests/TestCategoryRepository.java
Due: maven-build, maven-test, auto_deploy

added tests code
  Backend/CyHelp/src/test/java/coms309/cyhelp/tests/TestCategoryRepository.java
Due: maven-build, maven-test, auto_deploy

testingtests
  Backend/CyHelp/src/test/java/coms309/cyhelp/tests/TestCategoryRepository.java
Due: maven-build, maven-test, auto_deploy

reverted
  Backend/CyHelp/src/test/java/coms309/cyhelp/tests/TestCategoryRepository.java
Due: maven-build, maven-test, auto_deploy

reverted part 2
  Backend/CyHelp/src/test/java/coms309/cyhelp/tests/TestCategoryRepository.java
Due: maven-build, maven-test, auto_deploy

Init list in category
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/Category.java
Due: maven-build, maven-test, auto_deploy

edited test
  Backend/CyHelp/src/test/java/coms309/cyhelp/tests/TestCategoryRepository.java
Due: maven-build, maven-test, auto_deploy

cleaned up imports
  Backend/CyHelp/src/test/java/coms309/cyhelp/tests/TestCategoryRepository.java
Due: maven-build, maven-test, auto_deploy

Created getTicketId function and re did tests for mockito/test category repository
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/Category.java
  Backend/CyHelp/src/test/java/coms309/cyhelp/tests/TestCategoryRepository.java
Due: maven-build, maven-test, auto_deploy

Update README.md
  README.md
Due: none

Fixed the infinite loop in tickets with categories
  Backend/CyHelp/src/main/java/coms309/cyhelp/model/Category.java
Due: maven-build, maven-test, auto_deploy

User view single ticket added. App navigation implemented.
  Frontend/.idea/misc.xml
  Frontend/app/build.gradle
  Frontend/app/src/main/AndroidManifest.xml
  Frontend/app/src/main/java/com/example/cyhelp/AdminActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/CompanyActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/LoginActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/MainActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/SignUpModel.java
  Frontend/app/src/main/java/com/example/cyhelp/ViewTechTicketActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/ViewTicketsActivity.java
  Frontend/app/src/main/java/com/example/cyhelp/ViewUserTicketActivity.java
  Frontend/app/src/main/res/layout/activity_admin.xml
  Frontend/app/src/main/res/layout/activity_company.xml
  Frontend/app/src/main/res/layout/activity_main.xml
  Frontend/app/src/main/res/layout/activity_view_tech_ticket.xml
  Frontend/app/src/main/res/layout/activity_view_tickets.xml
  Frontend/app/src/main/res/layout/activity_view_user_ticket.xml
  Frontend/app/src/test/java/com/example/cyhelp/SignUpModelTest.java
  Frontend/build.gradle
Due: android-build, android-test

Added additional Mock tests
  Frontend/app/src/test/java/com/example/cyhelp/SignUpModelTest.java
Due: android-build, android-test

Added mock test for SignUpPresenter
  Frontend/app/build.gradle
  Frontend/app/src/main/java/com/example/cyhelp/SignUpPresenter.java
  Frontend/app/src/test/java/com/example/cyhelp/SignUpPresenterTest.java
  Frontend/build.gradle
Due: android-build, android-test

Added mock tests for SignUpPresenter
  Frontend/app/src/main/java/com/example/cyhelp/SignUpPresenter.java
  Frontend/app/src/test/java/com/example/cyhelp/SignUpPresenterTest.java
Due: android-build, android-test
